body
{
	font-family: fantasy;
	font-size: 20px;
	margin: 0;
	width: 100vw;
	text-align: center;
}
header
{
    background-color: lightgrey;
    padding: 1rem;
    height: 100vh;
}
header img
{
	border-radius: 75%;
	padding: 0.5rem;
}
.conditions
{
	font-family: cursive;
	font-size: 20px;
	background-image: url("https://cdn.suwalls.com/wallpapers/tv-shows/bazinga-the-big-bang-theory-49659-1920x1080.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	font-weight: bolder;
	
}
ul
{
	list-style: none;
	text-align: left;
}