body
{
	background-color:  lightgrey;
}
h1
{
	font-size: 28px;
	font-family: Cursive;
	font-weight: lighter;
	font-style: italic;
	color: salmon;
}
h2
{
	font-size: 25px;
	font-family: sans-serif;
	font-weight: bolder;
	font-style: italic;
	color: red;
}
.caps
{
	text-transform: uppercase;
}
